footer{
    background-color: wheat;
    display: flex;  
    .footer__grilla-footer{
 
      display: grid;  
      /* 2 columnas */
      grid-template-columns: 200px 200px 200px 200px;
      display: grid;
      justify-items: center;
      align-items:center;
      justify-self: start;
      grid-column-gap: 110px;
   
   }
   .insta-logo{
      color: wheat;
   }
   .footer__logos .footer__lista-logos{
     padding: 1rem;
     border: 2rem;
     border-radius: 30px; 
   }
      
   .footer__belga-footer.footer__footer-index{
   color: black;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   width: 100%;
   display: grid;
   justify-items: right;
   align-content: flex-end;
   }
   .footer__belga-footer {
      display: grid;
      justify-items:right;
      align-content:flex-end ;
   }
   .footer__logo-app{
     border-radius: 30px;
   }
   .footer__delivery{
      display: grid;
      justify-items:start;
      grid-template-columns:repeat(1);
      justify-self: start; 
      border-radius: 30px;
   }
   .footer__pagos{
      display: grid;
      justify-items:start;
      grid-template-rows:inherit;
      justify-self: start;   
   
   }
 }